/*-----Planes-----*/

.carruselPlans {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vw;
    background: linear-gradient(150deg, #27522a, #4f996d);
}

.introPlans {
    text-align: center;
    margin: 50px 70px;
}

.introPlans h2 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 400;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.card-list .card-item {
    color: #fff;
    user-select: none;
    padding: 35px;
    list-style-position: inside;
    line-height: 3rem;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
}

.card-list .card-item i {
    font-size: 2.5rem;
    margin-right: 100px;
}

.card-list .card-item p {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

.slider-wrapper .swiper-pagination-bullet {
    background: #fff;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button {
    color: #fff;
    margin-top: -50px;
    transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
    color: #89bb5d;
}

@media (max-width: 768px) {
    .slider-wrapper {
        margin: 0 10px 40px;
    }

    .slider-wrapper .swiper-slide-button {
        display: none;
    }
}