/*-----Planes-----*/

.carruselPlans {
    background-color: #ffffff;
}

.introPlans {
    text-align: center;
    margin: 100px;
}

.introPlans h2 {
    color: #0a3e0d;
    font-size: 35px;
    font-weight: 500;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.card-list .card-item {
    background: linear-gradient(to left, #d7e2d7, #bed8c3);
    color: #212121;
    padding: 35px;
    line-height: 3rem;
    text-align: center;
}

.card-list .card-item i {
    font-size: 2.5rem;
    margin-right: 100px;
}

.card-list .card-item p {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

.card-list .card-item ul li{
    text-align: left;
    
}

.slider-wrapper .swiper-pagination-bullet {
    background: #4e4b4b;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-slide-button {
    color: #454141;
    margin-top: -50px;
    transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
    color: #89bb5d;
}

@media (max-width: 1000px) {
    .slider-wrapper {
        margin: 0 10px 40px;
    }

    .slider-wrapper .swiper-slide-button {
        display: none;
    }
}