@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}


/*-----Header-----*/

header {
    position: sticky;
    top: 0;
    z-index: 2;
}

nav {
    background-color: #3b793f;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainCont {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mainCont span {
    color: #ffffff;
    font-size: 12px;
    width: 220px;
    height: 80px;
    border-bottom: 2px solid #a5b722;
    display: flex;
    align-items: center;
}

.mainLogo {
    width: 100px;
    height: 100px;
}

.mainLogo img {
    width: 100%;
}

.menu ul {
    display: flex;
    gap: 50px;
    align-items: center;
    
}

.menuBar {
    display: none;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}

#menuList a {
    color: #ffffff;
    transition: all 0s;
}

#menuList a:hover {
    border-bottom: 2px solid #a5b722;
}

@media (max-width: 1000px) {

    nav {
        padding: 5px 30px;
    }

    .menuBar {
        display: block;
    }

    .menu ul {
        background-color: #3b793f;
        position: absolute;
        top: 110px;
        left: 0; 
        right: 0; 
        flex-direction: column;
        align-items: center;
        gap: 0;
        overflow: hidden;
    }

    .menu ul li {
        padding: 20px;
    }

    .mainCont span {
        align-items: center;
        border-bottom: 2px solid #a5b722;
        font-size: 11px;
        width: 190px;
    }

    #menuList {
        transition: all 0.5s;
    }

}


/*-----Hero-----*/

.hero {
    padding: 100px;
    background-image: url(/Images/bg_televilla1.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
}

.heroCont {
    width: 50vw;
    color: #ffffff;
}

.heroCont h2 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 30px;
}

.heroCont p {
    font-size: 1.5em;
    font-weight: 400;
}

@media (max-width: 900px) {
    .hero {
        padding: 50px;
    }

    .heroCont {
        width: 100vw;
        font-size: 12px;
    }
}


/*-----Quienes Somos-----*/

.quienesSomos {
    padding: 100px;
    background-color: #e4eae0;
}

.quienesSomosIntro {
    text-align: center;
    margin-bottom: 50px;
}

.quienesSomosIntro h2 {
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 500;
    color: #0a3e0d;
}

.quienesSomosItems {
    display: flex;
    gap: 50px;
}

.quienesSomosItem {
    background-color: #cae7cc;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    line-height: 30px;
    transition: all 0.7s;
}

.quienesSomosItem:hover {
    transform: scale(1.05);
    background-color: #abdaa9;
}

.quienesSomosItem h3 {
    margin-bottom: 20px;
    border-bottom: 2px solid #a5b722;
    display: inline-block;
}

@media (max-width: 1000px) {
    .quienesSomos {
        padding: 50px;
    }
    .quienesSomosItems {
        flex-direction: column;
    }
}



/*-----Beneficios-----*/

.benefits {
    padding: 100px;
    background-color: #77bb6a;
}

.benefitsCont h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #0a3e0d;
    margin-bottom: 100px;
}

.benefit {
    color: #262424;
    font-size: 20px;
    margin-bottom: 100px;
    display: flex;
    gap: 20px;
}

.benefit h3 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #224f25;
    margin-bottom: 30px;
}

.benefit img {
    width: 30vw;
    margin-right: 20px;
}

@media (max-width: 1000px) {
    
    .benefits {
        padding: 50px;
    }

    .benefitsCont h2 {
        margin-bottom: 50px;
    }

    .benefit h3 {
        font-size: 30px;
    }

    .benefit {
        flex-direction: column;
        font-size: 18px;
        margin-bottom: 50px;
        text-align: center;
    }

    .benefitTwo {
        flex-direction: column-reverse;
    }

    .benefit img {
        width: 80vw;
    }
}


/*-----Footer-----*/

footer {
    background-color: #222222;
}

hr {
    border: 0;
    height: 1px;
    width: 90%;
    margin: auto;
    background-color: #9ca09d;
}

.copyright {
    text-align: center;
    padding: 40px 0 50px;
    color: #9ca09d;
    font-size: 13px;
}

.footerCont {
    font-size: 18px;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    line-height: 40px;
}

.footerCont h3 {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    border-bottom: 3px solid rgb(50, 106, 43);
    margin-bottom: 30px;
    display: inline-block;
}

.footerItem {
    width: 20vw;
}

.footerItem li, a {
    color: #9ca09d;
    transition: all 0.5s;
}

.footerSocial {
    display: flex;
    gap: 10px;
}

.footerSocial i {
    border-radius: 50px;
    background-color: #525552;
    color: #ffffff;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.footerSocial i:hover {
    background-color: #467c46;
}

.footerLinks:hover {
    color: #ffffff;
    padding-left: 10px;
}

@media (max-width: 1000px) {

    .footerCont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footerItem {

        text-align: center;
        width: 50vw;
        margin-bottom: 50px;
    }

    .footerSocial {
        justify-content: center;
    }

}


/*-----Testimonials-----*/

.testimonials {
    background-color: #ffffff;
}

.introTestimonials {
    text-align: center;
    margin: 100px 0 50px;
}

.introTestimonials h2 {
    font-size: 35px;
    font-weight: 500;
    color: #0a3e0d;
}

.sliderContainer {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.cardList .cardItem {
    width: 50vw;
    background: linear-gradient(to left, #83dc83, #449c56);
    color: #ffffff;
    padding: 35px;
}

.cardList .cardItem h3 {
    font-size: 25px;
}

.cardList .cardItem i {
    font-size: 2rem;
    color: #c3b431;
    margin-top: 20px;
}

.cardList .cardItem p {
    font-size: 18px;
    font-weight: 400;
}

.containerTest {
    margin-bottom: 30px;
}

.sliderContainer .swiper-pagination-bullet {
    background: #4e4b4b;
    height: 15px;
    width: 15px;
}

.sliderContainer .swiper-slide-button {
    color: #454141;
    margin-top: -50px;
    transition: 0.2s ease;
}

.sliderContainer .swiper-slide-button:hover {
    color: #89bb5d;
}

.cardList .cardItem .quote {
    display: flex;
    align-items: center;
}

.cardList .cardItem .quote i {
    font-size: 50px;
    margin-right: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}

.userTest {
    margin: 20px -35px -35px;
    padding-top: 20px;
    background-color: #ffffff;
    color: #222222;
    display: flex;
    align-items: center;
    gap: 10px;
}

.userTestImg img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.userTestInfo {
    line-height: 16px;
}


/*-----Speed Test-----*/

.speedTest {
    background-color: #c8c0c0;
    padding: 100px;
}

.speedTestContainer {
    display: flex;
    justify-content: space-between;
}

.introSpeedTest {
    width: 50vw;
}

.introSpeedTest h2 {
    font-size: 35px;
    font-weight: 500;
    color: #0a3e0d;
}

.introSpeedTest p {
    margin: 30px 0 100px;
}

.imgSpeedTest {
    width: 400px;
    height: 400px;
}

.imgSpeedTest img {
    width: 100%;
    height: 100%;
}

.speedTestBtn {
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 180px;
    text-align: center;
    background-color: #698a5c;
    color: #222222;
    font-weight: 500;
    transition: all 0.5s;
}

.speedTestBtn:hover {
    background-color: #376227;
    color: #ffffff;
}

@media (max-width: 1000px) {

    .speedTest {
        padding: 20px;
    }

    .speedTestContainer {
        flex-direction: column;
        align-items: center;
    }

    .introSpeedTest {
        text-align: center;
        width: 100%;
    }

    .testBtn {
        display: flex;
        justify-content: center;
    }
}








